html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
section,
main,
footer,
header,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: Arial;
}

/*----fonts----*/
/*colors*/
html {
  scroll-behavior: smooth;
}

a {
  transition: all 0.5s ease;
}

h1 {
  font-family: "Georgia Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: left;
  color: #f1cdb3;
}

h2 {
  font-family: "Georgia Regular", sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
  color: #545454;
}

h3 {
  font-family: "Georgia Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

h4 {
  font-family: "Georgia Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

h5 {
  font-family: "Georgia Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
section,
main,
footer,
header,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: Arial;
}

/*----fonts----*/
/*colors*/
html {
  scroll-behavior: smooth;
}

a {
  transition: all 0.5s ease;
}

h1 {
  font-family: "Georgia Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: left;
  color: #f1cdb3;
}

h2 {
  font-family: "Georgia Regular", sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
  color: #545454;
}

h3 {
  font-family: "Georgia Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

h4 {
  font-family: "Georgia Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

h5 {
  font-family: "Georgia Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}

.card .button, .card {
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.body {
  margin: 0 auto;
  width: 100%;
  /* background: url(../assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20; */
}

/*.body {
  width: 1280px;
}*/
a,
button {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  transition: all 0.5s ease;
}

/*---------- start-screen-----------*/
.gradient-bckgr-wrapper {
  width: 100%;
  background: url(../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.start-screen-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

/*---------- header ----------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-anchor {
  text-decoration: none;
}

.header-logo--subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  padding-left: 4px;
  padding-top: 10px;
}
.header-logo--subtitle:hover {
  color: #fddcc4;
  transition: 0.5s;
}

/*header.nav-wrapper {
    //display: inline-block;
    //flex-direction: column;
    //flex-wrap: nowrap;
   // justify-content: start;
    //align-items: baseline;
    width: 443px;
    height: 27px;
  }*/
/*-----burger-icon-------------*/
/*.burger-icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}

.burger-icon span {
  width: 3.125rem;
  height: 2px;
  background-color: $color-primary;
  transition: transform 0.3s ease-in-out;
} */
/*.burger-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

.burger-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #333;
  margin-bottom: 6px;
  transition: transform 0.3s ease-in-out;
}

.burger-icon.active {
  transform: rotate(90deg);
}

.burger-icon.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger-icon.active span:nth-child(2) {
  opacity: 0;
}

.burger-icon.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}*/
/*---------- navigation ----------*/
.nav {
  display: flex;
  flex-direction: row;
  gap: 2.188rem;
  justify-content: space-between;
  align-items: center;
  max-width: 27.688rem;
}

.nav-link--active {
  font-family: "Arial", sans-serif;
  color: #fafafa;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  border-bottom: 3px solid #f1cdb3;
  text-decoration: none;
  cursor: default;
}

#current-page a {
  text-decoration: none;
  cursor: default;
}

.nav-link {
  font-family: "Arial", sans-serif;
  color: #cdcdcd;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
}
.nav-link:hover {
  color: #fddcc4;
  transition: 0.5s;
}

/*---------- not-only-section ----------*/
main {
  margin: 0 auto;
}

.section-not-only {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px 0px 40px;
}

.start-content {
  display: flex;
  flex-direction: column;
  gap: 42px 0;
  padding: 10.19rem 2.63rem 15.19rem 0;
  justify-content: space-between;
}

.start-screen-title {
  max-width: 19.375rem;
  color: #fff;
  line-height: 130%;
}

.start-screen-subtitle {
  max-width: 28.75rem;
  font-family: "Arial", sans-serif;
  color: #cdcdcd;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.start-screen-button {
  display: flex;
  max-width: 207px;
  height: 52px;
  padding: 11px 43px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  background: #f1cdb3;
  font-family: "Georgia Regular", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
}
.start-screen-button:hover {
  background: #fddcc4;
  transition: 0.5s;
}

.start-puppy {
  display: flex;
  max-width: 43.625rem;
}

/*---------- about-section---------*/
.white-bckgr-wrapper {
  width: 100%;
  background: #fff;
}

.about-section {
  max-width: 1280px;
  padding: 80px 40px 100px 40px;
  display: flex;
  gap: 120px;
  justify-content: center;
  margin: 0 auto;
}

.left-about {
  width: 18.75rem;
  height: 25.5rem;
  background-image: url(../assets/images/about-pets.png);
}

.right-about {
  display: flex;
  flex-direction: column;
  max-width: 26.875rem;
  padding: 13px 0;
  gap: 24px;
}

.about-title {
  max-width: 370px;
  font-size: 35px;
  letter-spacing: 0.06em;
}

.about-text {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #4c4c4c;
}

/*----------our-friends-section ----------*/
.light-bckgr-wrapper {
  width: 100%;
  background: #f6f6f6;
}

.our-friends {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 40px 100px 40px;
  margin: 0 auto;
}

.our-friends-title {
  max-width: 400px;
  line-height: 125%;
}

.our-friends-slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.arrow-left,
.arrow-right {
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  width: 52px;
  height: 52px;
  background: #f6f6f6;
}
.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
  background: #fddcc4;
  border: 2px solid transparent;
  transition: 0.5s;
}

.button-primary {
  font-family: "Georgia Regular", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  border-radius: 100px;
  border-color: #f1cdb3;
  letter-spacing: 0.06em;
  color: #292929;
  width: 261px;
  height: 52px;
  background: #f1cdb3;
  cursor: pointer;
  text-align: center;
  padding-top: 15px;
}
.button-primary:hover {
  background: #fddcc4;
  transition: 0.5s;
}

.pets-cards {
  display: flex;
  gap: 90px;
}

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  align-items: center;
  background: #fafafa;
  width: 270px;
  border-radius: 9px;
  gap: 30px;
}
.card .button {
  display: flex;
  flex-direction: column;
  font-family: "Georgia Regular", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  border-radius: 100px;
  border-color: #f1cdb3;
  letter-spacing: 0.06em;
  color: #292929;
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  justify-content: center;
  background-color: #fafafa;
}
.card img {
  width: 270px;
  height: 270px;
  background: #fafafa;
  border-radius: 9px;
}
.card:hover {
  cursor: pointer;
  background: #fff;
  transition: 0.5s;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card:hover .button {
  background: #fddcc4;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.5s;
}

/*--------help-section------*/
.white-bckgr-wrapper {
  width: 100%;
  background: #fff;
}

.help {
  max-width: 1280px;
  margin: 0 auto;
}

.help-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px 40px 100px 40px;
}

.item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 55px 120px;
}

.item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 7.063rem;
  gap: 30px;
}
.item .item-icon {
  color: #f1cdb3;
}

/*------------donation--------*/
.light-bckgr-wrapper {
  width: 100%;
  background: #f6f6f6;
}

.donation {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 16px;
}

.donation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px 182px 80px 183px;
}

.donation-dog-img {
  max-width: 31.563rem;
  padding: 11px 0px 10px 0;
}

.donation-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px 0;
}

.donation-title {
  max-width: 300px;
  text-align: left;
}

.credit-card-block a {
  display: flex;
  /*flex-direction: row;
  flex-wrap: wrap;*/
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
  border-radius: 9px;
  max-width: 349px;
  background: #f1cdb3;
}
.credit-card-block a a {
  text-decoration: none;
  color: #545454;
}
.credit-card-block a:hover {
  background: #fddcc4;
}

.legal-information {
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  color: #b2b2b2;
  max-width: 380px;
}

/*---------- footer ----------*/
.footer {
  max-width: 1280px;
  justify-content: center;
  align-items: center;
  margin: 3px auto 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0px 40px;
}

.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0 60px 0;
  gap: 20px;
}

.footer-block-center {
  display: flex;
  max-width: 302px;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0 60px 0;
  gap: 20px;
}

.footer-title {
  color: #fff;
  text-align: left;
}

.footer-info-string a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: #f1cdb3;
}
.footer-info-string a h4 {
  color: #f1cdb3;
  text-align: left;
  letter-spacing: 0.06em;
  line-height: 130%;
}
.footer-info-string a h4:hover {
  color: #fff;
  transition: 0.5s;
}
.footer-info-string a:hover {
  background: #d4d4d4;
  border-radius: 100px;
}

.footer-img {
  max-width: 18.75rem;
}

a {
  transition: 0.5s;
}

/*------media------*/
@media screen and (max-width: 1205px) {
  .donation-wrapper {
    padding: 5rem;
  }
}
/*-----bp 1100----*/
@media screen and (max-width: 1100px) {
  .start-puppy {
    max-width: 70%;
  }
  .card:last-child {
    display: none;
  }
  /*-----bp 1061----*/
}
/*---bp 1000 ---*/
@media screen and (max-width: 1000px) {
  .donation-wrapper {
    flex-direction: column-reverse;
    gap: 59px;
  }
  .donation-dog-img {
    padding: 0;
  }
  .footer-content {
    padding: 20px 64px 0;
    flex-wrap: wrap;
  }
  .footer-block {
    padding-top: 11px;
    gap: 40px;
  }
  .footer-block-center {
    padding-top: 11px;
  }
  .footer-info-string a h4 {
    line-height: 125%;
  }
  .footer-img {
    width: 18.75rem;
    margin: 0 auto;
    padding-top: 4px;
  }
}
/*-----bp 880----*/
@media screen and (max-width: 880px) {
  .section-not-only {
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 0 30px;
  }
}
/*-----bp 800----*/
@media screen and (max-width: 800px) {
  .header {
    padding: 30px;
  }
  .start-content {
    padding: 0;
    align-items: flex-start;
  }
  .start-screen-title {
    text-align: left;
  }
  .start-screen-button {
    display: flex;
    align-items: center;
    text-align: center;
    align-self: center;
  }
  .start-puppy {
    margin-top: 100px;
    margin-left: 141px;
    max-width: 35.563rem;
    background-size: cover;
  }
  .about-section {
    flex-direction: column-reverse;
    align-items: center;
    gap: 68px;
    padding-top: 67px;
  }
  .our-friends {
    padding: 80px 30px 100px 30px;
    gap: 60px;
  }
  .our-friends-title {
    line-height: 130%;
  }
  .our-friends-slider {
    padding: 0;
  }
  .pets-cards {
    gap: 40px;
  }
  .card:last-child {
    display: none;
  }
  .help-content {
    padding: 78px 69px 100px 69px;
  }
  .item-list {
    gap: 55px 60px;
    justify-content: space-around;
  }
  .item {
    width: 10.625rem;
  }
  /*
  .donation-wrapper {
    flex-direction: column-reverse;
    gap: 59px;
  }
  .donation-dog-img {
    padding: 0;
  }*/
  .footer-content {
    padding: 20px 64px 0;
    flex-wrap: wrap;
  }
  .footer-block {
    padding-top: 11px;
    gap: 40px;
  }
  .footer-block-center {
    padding-top: 11px;
  }
  .footer-info-string a h4 {
    line-height: 125%;
  }
  .footer-img {
    width: 18.75rem;
    margin: 0 auto;
    padding-top: 4px;
  }
}
/*-----bp 768----*/
@media screen and (max-width: 767.9px) {
  /* .burger-icon {
    display: flex;
    position: fixed;
    z-index: 2;
  }
  .nav-link, .nav-link--active {
    display: none;
    overflow: hidden;
    position: fixed
  } */
  .nav {
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  .nav-link {
    border-bottom: 2px solid #f1cdb3;
    width: 3.125rem;
    content-visibility: hidden;
  }
  .nav-link--active {
    display: none;
  }
  .card:nth-child(2),
  .card:nth-child(3) {
    display: none;
  }
}
/*-----bp 700----*/
@media screen and (max-width: 700px) {
  .header {
    align-items: stretch;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
/*----bp 525---*/
@media screen and (max-width: 525px) {
  .donation-dog-img {
    width: 90%;
  }
}
@media screen and (max-width: 440px) {
  .our-friends {
    padding: 42px 10px;
    gap: 41px;
  }
  .our-friends-title {
    line-height: 130%;
  }
  .our-friends-slider {
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 80px;
  }
  .arrow-left,
  .arrow-right {
    order: 1;
  }
  /*.pets-cards {
    gap: 40px;
  }*/
  .card:nth-child(2),
  .card:nth-child(3) {
    display: none;
  }
}
/*---bp 360 ---*/
@media screen and (max-width: 355px) {
  .footer {
    margin: 0 auto;
  }
  .footer-content {
    padding: 30px 10px 0;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-block {
    padding: 0 11px;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .footer-title {
    text-align: center;
    padding: 0 10px;
  }
  .footer-title br {
    display: none;
  }
  .footer-block-center {
    padding: 41px 0 0 0;
    gap: 35.5px;
  }
  .footer-info-string a h4 {
    line-height: 125%;
  }
  .footer-img {
    width: 16.25rem;
    margin: 0 auto;
    padding-top: 42px;
  }
}
/*----breakpoint to mobile ---*/
@media screen and (max-width: 336px) {
  h2,
  h3 {
    font-size: 25px;
    letter-spacing: 0.06em;
  }
  .header {
    padding: 30px 20px;
  }
  .nav {
    justify-content: center;
  }
  .nav-link {
    border-bottom: 2px solid #f1cdb3;
    width: 30px;
    content-visibility: hidden;
  }
  .nav-link--active {
    display: none;
  }
  .section-not-only {
    padding: 30px 10px 0;
  }
  .start-content {
    padding: 0;
    align-items: center;
  }
  .start-screen-title {
    max-width: 300px;
    text-align: center;
  }
  .start-screen-subtitle {
    max-width: 300px;
    text-align: center;
  }
  .start-screen-button {
    display: flex;
    align-items: center;
    text-align: center;
    align-self: center;
    height: 50px;
  }
  .start-puppy {
    margin-top: 105px;
    margin-left: 40px;
    max-width: 16.25rem;
    height: 16.938rem;
    background-size: cover;
  }
  .about-section {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
    padding: 42px 10px;
  }
  .right-about {
    padding: 0;
    padding-bottom: 10px;
    gap: 0;
  }
  .about-title {
    font-size: 25px;
    text-align: center;
    padding: 0 25px 10px;
  }
  .about-text {
    padding: 13px;
    line-height: 160%;
    text-align: justify;
  }
  .left-about {
    max-width: 16.25rem;
    height: 22.1rem;
    background-size: cover;
    padding-top: 10px;
  }
  .our-friends {
    padding: 42px 10px;
    gap: 41px;
  }
  .our-friends-title {
    line-height: 130%;
  }
  .our-friends-slider {
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 80px;
  }
  .arrow-left,
  .arrow-right {
    order: 1;
  }
  /*.pets-cards {
    gap: 40px;
  }*/
  .card:nth-child(2),
  .card:nth-child(3) {
    display: none;
  }
  .help-content {
    padding: 42px 15px;
    gap: 0;
  }
  .help-content h3 {
    padding-bottom: 41px;
  }
  .item-list {
    gap: 30px;
    justify-content: space-between;
  }
  .item {
    justify-content: space-between;
    width: 8.125rem;
    height: 100%;
    gap: 21px;
  }
  .item h4 {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
  .item .item-icon {
    width: 3.125rem;
    align-self: center;
  }
  .donation {
    padding-bottom: 0;
  }
  .donation-wrapper {
    padding: 42px 10px;
    flex-direction: column-reverse;
    gap: 0;
    align-items: normal;
  }
  .donation-wrapper h3 {
    font-size: 25px;
    text-align: center;
    line-height: 130%;
    padding: 0 40px;
  }
  .donation-wrapper h5 {
    font-size: 15px;
    letter-spacing: 0;
    text-align: center;
    line-height: 110%;
    padding-bottom: 3px;
  }
  .donation-wrapper h4 {
    font-size: 15px;
    line-height: 110%;
  }
  .donation-wrapper p {
    font-size: 12px;
    line-height: 150%;
    text-align: justify;
    padding: 0 10px;
  }
  .donation-content {
    gap: 21px 0;
  }
  .credit-card-block {
    justify-content: space-between;
    padding: 0 10px;
  }
  .credit-card-block a h4 {
    padding-top: 3px;
  }
  .donation-dog-img {
    max-width: 16.25rem;
    padding-top: 43px;
    margin: 0 auto;
  }
  /*.footer {
    margin: 0 auto;
  }

  .footer-content {
    padding: 30px 10px 0;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-block {
    padding: 0 11px;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .footer-title {
    text-align: center;
    padding: 0 10px;
    br {
      display: none;
    }
  }
  .footer-block-center {
    padding: 41px 0 0 0;
    gap: 35.5px;
  }
  .footer-info-string a h4 {
    line-height: 125%;
  }
  .footer-img {
    width: 16.25rem;
    // margin-left: 170px;
    // margin-bottom: 0;
    margin: 0 auto;
    padding-top: 42px;
  }*/
}
.body {
  margin: 0 auto;
  width: 100%;
  /* background: url(../assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20; */
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  transition: all 0.5s ease;
}

.body {
  width: 100%;
  margin: 0 auto;
  background: #fff;
}

/*---------- header ----------*/
.header {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background: #fff;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-anchor {
  text-decoration: none;
}

.header-logo--title {
  color: #545454;
}

.header-logo--subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  padding-left: 4px;
  padding-top: 10px;
  color: #292929;
}
.header-logo--subtitle:hover {
  color: #fddcc4;
  transition: 0.5s;
}

/*---------- navigation ----------*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 443px;
}

.nav-link--active {
  font-family: "Arial", sans-serif;
  color: #292929;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  border-bottom: 3px solid #f1cdb3;
  text-decoration: none;
}

#current-page-pets {
  text-decoration: none;
  cursor: default;
}

.nav-link {
  font-family: "Arial", sans-serif;
  color: #545454;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
}

/*------our pets main-----------*/
.pets-main {
  display: flex;
  flex-direction: column;
  gap: 31px;
  justify-content: space-between;
  max-width: 1280px;
  padding: 80px 40px 100px 40px;
  margin: 0 auto;
}

.pets-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 30px 40px;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #fafafa;
  width: 270px;
  padding-bottom: 25px;
  gap: 31px;
  border-radius: 9px;
}
.card .button {
  display: flex;
  flex-direction: column;
  font-family: "Georgia Regular", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  border-radius: 100px;
  border-color: #f1cdb3;
  letter-spacing: 0.06em;
  color: #292929;
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  justify-content: center;
  background-color: #fafafa;
}
.card img {
  width: 270px;
  height: 270px;
  background: #fafafa;
  border-radius: 9px;
}
.card:hover {
  cursor: pointer;
  background: #fff;
  transition: 0.5s;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card:hover .button {
  background: #fddcc4;
  border: 2px solid transparent;
  cursor: pointer;
}

.pets-pagination {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.pets-pagination-item,
.pets-pagination-item--active,
.pets-pagination-item--current {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  cursor: pointer;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cdcdcd;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #cdcdcd;
}

.pets-pagination-item--active {
  color: #292929;
  background-color: #f6f6f6;
  border: 2px solid #f1cdb3;
}
.pets-pagination-item--active:hover {
  cursor: pointer;
  background-color: #fddcc4;
  transition: 0.5s;
}

.pets-pagination-item--current {
  background-color: #fddcc4;
  color: #292929;
  border: 2px solid #f1cdb3;
  cursor: default;
}
.pets-pagination-item--current:hover {
  cursor: default;
  transition: 0.5s;
}

#pets-pagination-item2-disabled,
#pets-pagination-item-disabled {
  cursor: default;
}

/*---------- footer ----------*/
.gradient-bckgr-wrapper {
  width: 100%;
  background: url(../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer {
  max-width: 1280px;
  justify-content: center;
  align-items: center;
  margin: -3px auto 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0px 40px;
}

.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0 60px 0;
  gap: 20px;
}

.footer-block-center {
  display: flex;
  width: 302px;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0 60px 0;
  gap: 20px;
}

.footer-title {
  color: #fff;
  text-align: left;
}

.footer-info-string a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: #f1cdb3;
}
.footer-info-string a h4 {
  color: #f1cdb3;
  text-align: left;
  letter-spacing: 0.06em;
  line-height: 130%;
}
.footer-info-string a h4:hover {
  color: #fff;
  transition: 0.5s;
}
.footer-info-string a:hover {
  background: #d4d4d4;
  border-radius: 100px;
}

.footer-img {
  width: 25%;
}

/*---bp 1260 --*/
@media screen and (max-width: 1260px) {
  .pets-grid {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }
}
/*---bp 970 ---*/
@media screen and (max-width: 970px) {
  .pets-grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    gap: 30px;
  }
  .footer-content {
    padding: 20px 64px 0;
    flex-wrap: wrap;
  }
  .footer-block {
    padding-top: 11px;
    gap: 40px;
  }
  .footer-block-center {
    padding-top: 11px;
  }
  .footer-info-string a h4 {
    line-height: 125%;
  }
  .footer-img {
    width: 18.75rem;
    margin: 0 auto;
    padding-top: 4px;
  }
}
/*---bp 800 ---*/
@media screen and (max-width: 800px) {
  .header {
    padding: 30px;
  }
  .header-logo--subtitle {
    padding-left: 3px;
    padding-top: 8px;
  }
  .nav {
    max-width: 100%;
  }
  .nav-link {
    letter-spacing: 0.005em;
  }
  .pets-main {
    padding: 81px 30px 78px;
  }
  .pets-grid {
    padding: 0px 64px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 40px;
  }
  .card {
    gap: 27px;
  }
  .card:nth-child(7),
  .card:nth-child(8) {
    display: none;
  }
  .card .button {
    width: 11.688rem;
    height: 3.25rem;
    margin-top: 1px;
  }
  .pets-pagination {
    padding-top: 17px;
  }
  .footer-content {
    padding: 20px 64px 0;
    flex-wrap: wrap;
  }
  .footer-block {
    padding-top: 11px;
    gap: 40px;
  }
  .footer-block-center {
    padding-top: 11px;
  }
  .footer-info-string a h4 {
    line-height: 125%;
  }
  .footer-img {
    width: 18.75rem;
    margin: 0 auto;
    padding-top: 4px;
  }
}
/*---bp 767---*/
@media screen and (max-width: 767.9px) {
  .nav {
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  .nav-link {
    border-bottom: 2px solid #f1cdb3;
    width: 3.125rem;
    content-visibility: hidden;
  }
  .nav-link--active {
    display: none;
  }
  .card:nth-child(2),
  .card:nth-child(3) {
    display: flex;
  }
  .pets-main {
    padding: 43px 10px;
    gap: 42px;
  }
}
/*---bp 660---*/
@media screen and (max-width: 660px) {
  .pets-grid {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
  }
  .card:nth-child(6),
  .card:nth-child(7),
  .card:nth-child(8) {
    display: none;
  }
  /*.pets-pagination {
      padding-top: 17px;
    }
    .footer-content {
      padding: 20px 30px 0;
      flex-wrap: wrap;
    }
    .footer-block {
      padding-top: 11px;
      gap: 20px;
  }*/
}
/*--bp 355---*/
@media screen and (max-width: 360px) {
  .pets-main {
    gap: 42px;
  }
  .pets-grid {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    padding: 0;
  }
  .card:nth-child(2),
  .card:nth-child(3) {
    display: flex;
  }
  .card:nth-child(4),
  .card:nth-child(5),
  .card:nth-child(6),
  .card:nth-child(7),
  .card:nth-child(8) {
    display: none;
  }
  .footer {
    margin: 0 auto;
  }
  .footer-content {
    padding: 30px 10px 0;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-block {
    padding: 0 11px;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .footer-title {
    text-align: center;
    padding: 0 10px;
  }
  .footer-title br {
    display: none;
  }
  .footer-block-center {
    padding: 41px 0 0 0;
    gap: 35.5px;
  }
  .footer-info-string a h4 {
    line-height: 125%;
  }
  .footer-img {
    width: 16.25rem;
    margin: 0 auto;
    padding-top: 42px;
  }
}
@media screen and (max-width: 336px) {
  h2,
  h3 {
    font-size: 25px;
    letter-spacing: 0.06em;
  }
  .header {
    padding: 30px 20px;
  }
  .nav {
    justify-content: center;
    gap: 10px;
  }
  .nav-link {
    border-bottom: 2px solid #f1cdb3;
    width: 30px;
    content-visibility: hidden;
  }
  .nav-link--active {
    display: none;
  }
  .card {
    gap: 28px;
    padding-bottom: 24px;
  }
  .pets-pagination {
    padding-top: 5px;
    gap: 10px;
  }
}/*# sourceMappingURL=our-pets.css.map */